force-app/main/default/flows/Plant_A_Tree.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Congratulations_Email_0</name>
        <label>Congratulations Email</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>Opportunity.Plant_A_Tree_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_POST_API_Send_0</name>
        <label>Email POST API Send</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Post_Send</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your tree planting request has been received!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Plant_A_Tree_0</name>
        <label>Plant A Tree</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>PlantATreeManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_POST_API_Send_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OpportunityName</name>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>decide if oppy above threshold</description>
        <name>Immediate_threshold</name>
        <label>Immediate_threshold</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Immediate_Default Outcome - judged below threshold</defaultConnectorLabel>
        <rules>
            <name>Immediate_Above_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Immediate_ThresholdGet.Opportunity_Minimum_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Congratulations_Email_0</targetReference>
            </connector>
            <label>Immediate_Above_Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <description>decide if oppy above threshold</description>
        <name>Immediate_threshold_0</name>
        <label>Immediate_threshold</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Async_Default Outcome - judged below threshold</defaultConnectorLabel>
        <rules>
            <name>Async_Above_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Async_ThresholdGet.Opportunity_Minimum_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plant_A_Tree_0</targetReference>
            </connector>
            <label>Async_Above_Threshold</label>
        </rules>
    </decisions>
    <interviewLabel>Plant A Tree {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plant A Tree</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Async_ThresholdGet</name>
        <label>Immediate_ThresholdGet</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Immediate_threshold_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant_A_Tree_Settings__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Immediate_ThresholdGet</name>
        <label>Immediate_ThresholdGet</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Immediate_threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant_A_Tree_Settings__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Immediate_ThresholdGet</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Async_ThresholdGet</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email_Body_Post_Send</description>
        <name>Email_Body_Post_Send</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Congratulations, your Plant-A-Tree request has been received! It will be processed shortly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!Plant_A_Tree_0.Message}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Threshold</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plant_A_Tree_Settings__mdt</objectType>
    </variables>
</Flow>
